{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Type</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <form action="/edit" method="post">
                {% for segment in segments %}
                    <tr>
                        <th scope="row">{{ segment["location"] }}</th>
                        <td>{{ segment["segment_type"] }}</td>
                        <td><button class="btn btn-secondary" type="submit" name="delete-button" value="{{ segment["location"] }}">Delete</button></td>
                    </tr>
                {% endfor %}
            </form>
        </tbody>
    </table>

<div>
    <a class="button" href="/edit-paragraph">Paragraph</a>
    <a class="button" href="/edit-header">Header</a>
    <a class="button" href="/edit-image">Image</a>
</div>
{% endblock %}
