{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Type</th>
                <th scope="col">Delete</th>
                <th scope="col">Move</th>
            </tr>
        </thead>
        <tbody>
            <form action="/edit" method="post">
                {% for segment in segments %}
                    <tr>
                        <th scope="row">{{ segment["location"] }}</th>
                        <td>{{ segment["segment_type"] }}</td>
                        <td><button class="btn btn-secondary" type="submit" name="delete-button" value="{{ segment["location"] }}">Delete</button></td>
                        <td>
                            {% if segment != segments[0] %}
                                <button class="btn btn-secondary" type="submit" name="up-button" value="{{ segment["location"] }}">Move up</button>
                            {% else %}
                                <button class="btn btn-secondary" disabled>Move up</button>
                            {% endif %}
                            {% if segment != segments[-1] %}
                                <button class="btn btn-secondary" type="submit" name="down-button" value="{{ segment["location"] }}">Move down</button>
                            {% else %}
                                <button class="btn btn-secondary" disabled>Move down</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </tbody>
    </table>

<div>
    <a href="/edit-paragraph"><button class="button">Paragraph</button></a>
    <a href="/edit-header"><button class="button">Header</button></a>
    <a href="/edit-image"><button class="button">Image</button></a>
    <a href="/edit-video"><button class="button">Video</button></a>
    <a href="/edit-spotify"><button class="button">Spotify</button></a>
    <a href="/edit-design"><button class="button">Design</button></a>
</div>
{% endblock %}
