{% extends "layout.html" %}

{% block title %}
    Edit header
{% endblock %}

{% block main %}
<div class="py-5">
    <div class="mb-3">
        <h1>Header editor</h1>
    </div>
    {% if segments_number >= 8 %}
        <div class="mb-3">
            <p>You have the maximum amount of segments! Go delete some :)</p>
        </div>
    {% else %}
        <form action="/edit-header" method="post">
            <div class="mb-3">
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" id="header-text" name="header-text" placeholder="Enter header here!" type="text"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Add header!</button>
        </form>
    {% endif %}
</div>
{% endblock %}
