{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Type</th>
                <th scope="col">Delete</th>
                <th scope="col">Move</th>
            </tr>
        </thead>
        <tbody>
            <form action="/edit" method="post">
                {% for segment in segments %}
                    <tr>
                        <th scope="row">{{ segment["location"] }}</th>
                        <td>{{ segment["segment_type"] }}</td>
                        <td><button class="btn btn-secondary" type="submit" name="delete-button" value="{{ segment["location"] }}">Delete</button></td>
                        <td>
                            {% if segment != segments[0] %}
                                <button class="btn btn-secondary" type="submit" name="up-button" value="{{ segment["location"] }}">Move up</button>
                            {% else %}
                                <button class="btn btn-secondary" disabled>Move up</button>
                            {% endif %}
                            {% if segment != segments[-1] %}
                                <button class="btn btn-secondary" type="submit" name="down-button" value="{{ segment["location"] }}">Move down</button>
                            {% else %}
                                <button class="btn btn-secondary" disabled>Move down</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </tbody>
    </table>

<div>
    <a class="button" href="/edit-header"><img src="/static/assets/heading-solid.svg" class="icon-large">  Header</a>
    <a class="button" href="/edit-paragraph"><img src="/static/assets/paragraph-solid.svg" class="icon-large">  Paragraph</a>
    <a class="button" href="/edit-image"><img src="/static/assets/image-solid.svg" class="icon-large">  Image</a>
    <a class="button" href="/edit-video"><img src="/static/assets/youtube-brands.svg" class="icon-large">  Video</a>
    <a class="button" href="/edit-spotify"><img src="/static/assets/spotify-brands.svg" class="icon-large">  Spotify</a>
    <a class="button" href="/edit-design"><img src="/static/assets/palette-solid.svg" class="icon-large">  Design</a>
</div>
{% endblock %}
