{% extends "layout.html" %}

{% block title %}
    Edit paragraph
{% endblock %}

{% block main %}
<div class="py-5">
    <div class="mb-3">
        <h1>Paragraph editor</h1>
    </div>
    {% if segments_number >= 8 %}
        <div class="mb-3">
            <p>You have the maximum amount of segments! Go delete some :)</p>
        </div>
    {% else %}
        <form action="/edit-paragraph" method="post">
            <div class="mb-3">
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" id="paragraph-text" name="paragraph-text" placeholder="Enter text here!" type="text"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Add paragraph!</button>
        </form>
    {% endif %}
</div>
{% endblock %}
