{% extends "layout.html" %}

{% block title %}
    Edit design
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Design Editor</h1>
    </div>
    <form class="mb-3" name="theform" action="/edit-design" method="post">
        <div class="mb-3">
            <h3>Background color</h3>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="white"> <label>White</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="red"> <label>Red</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="orange"> <label>Orange</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="yellow"> <label>Yellow</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="green"> <label>Green</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="blue"> <label>Blue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="background-color" name="background-color" value="purple"> <label>Purple</label>
                </div>
            <h3>Header font</h3>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="helvetica-neue"> <label class="helvetica-neue">Helvetica Neue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="arial"> <label class="arial">Arial</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="verdana"> <label class="verdana">Verdana</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="georgia"> <label class="georgia">Georgia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="didot"> <label class="didot">Didot</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="courier-new"> <label class="courier-new">Courier New</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-font" name="header-font" value="bradley-hand"> <label class="bradley-hand">Bradley Hand</label>
                </div>
            <h3>Header size</h3>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-size" name="header-size" value="small"> <label class="small">Small</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-size" name="header-size" value="medium"> <label class="medium">Medium</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="header-size" name="header-size" value="large"> <label class="large">Large</label>
                </div>
            <h3>Paragraph font</h3>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="helvetica-neue"> <label class="helvetica-neue">Helvetica Neue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="arial"> <label class="arial">Arial</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="verdana"> <label class="verdana">Verdana</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="georgia"> <label class="georgia">Georgia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="didot"> <label class="didot">Didot</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="courier-new"> <label class="courier-new">Courier New</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-font" name="paragraph-font" value="bradley-hand"> <label class="bradley-hand">Bradley Hand</label>
                </div>
            <h3>Paragraph size</h3>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-size" name="paragraph-size" value="small"> <label class="small">Small</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-size" name="paragraph-size" value="medium"> <label class="medium">Medium</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="paragraph-size" name="paragraph-size" value="large"> <label class="large">Large</label>
                </div>
            <br>
        </div>
    <button class="btn btn-primary" type="submit">Make changes!</button>
    </form>
{% endblock %}
