{% extends "layout.html" %}

{% block title %}
    Friend get
{% endblock %}

{% block main %}
    {{segments}}
    <br>
    {% for segment in segments %}
        {% if segment["segment_type"] == "header" %}
            <h1>{{ segment.content }} </h1>
        {% elif segment["segment_type"] == "paragraph" %}
            <p>{{ segment.content }}</p>
        {% elif segment["segment_type"] == "image" %}
            <a href="{{ segment.content }}" > 
                <img src = "{{ segment.content }}">
            </a>
        {% elif segment["segment_type"] == "video" %}
            <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ segment.content }}"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% elif segment["segment_type"] == "spotify" %}
            <iframe src="https://open.spotify.com/embed/playlist/{{ segment.content }}?utm_source=generator" 
            width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; 
            clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        {% endif %}
    {% endfor %}
{% endblock %}
