{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="py-5 {{ design.background_color }}">
    {% for segment in segments %}
        {% if segment.segment_type == "header" %}
            {% if design.header_size == "small" %}
                <h3 class="{{ design.header_font }}">{{ segment.content }}</h3>
            {% elif design.header_size == "medium" %}
                <h2 class="{{ design.header_font }}">{{ segment.content }}</h2>
            {% else %}
                <h1 class="{{ design.header_font }}">{{ segment.content }}</h1>
            {% endif %}
        {% elif segment.segment_type == "paragraph" %}
            <p class="{{ design.paragraph_font }} {{ design.paragraph_size }}">{{ segment.content }}</p>
        {% elif segment.segment_type == "image" %}
            <a href="{{ segment.content }}" > 
                <img width="50%" src = "{{ segment.content }}">
            </a>
        {% elif segment.segment_type == "video" %}
            <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ segment.content }}"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% elif segment.segment_type == "spotify" %}
            <iframe src="https://open.spotify.com/embed/playlist/{{ segment.content }}?utm_source=generator" 
            width="75%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; 
            clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
