{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="py-5 {{ design.background_color }}">
    {% for segment in segments %}
    <div class="mb-3">
        {% if segment.segment_type == "header" %}
            {% if design.header_size == "small" %}
                <h3 class="{{ design.header_font }}">{{ segment.content }}</h3>
            {% elif design.header_size == "medium" %}
                <h2 class="{{ design.header_font }}">{{ segment.content }}</h2>
            {% else %}
                <h1 class="{{ design.header_font }}">{{ segment.content }}</h1>
            {% endif %}
        {% elif segment.segment_type == "paragraph" %}
            <p class="{{ design.paragraph_font }} {{ design.paragraph_size }}">{{ segment.content }}</p>
        {% elif segment.segment_type == "image" %}
            <img class="imgframe" width="50%" src="{{ segment.content }}">
        {% elif segment.segment_type == "video" %}
            <iframe src="https://www.youtube.com/embed/{{ segment.content }}"></iframe>
        {% elif segment.segment_type == "spotify" %}
            <iframe src="https://open.spotify.com/embed/{{ segment.content }}?utm_source=generator"></iframe>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
