/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* colors */
.red {
    background-color: #ffe0de
}

.orange {
    background-color: #ffeade
}

.yellow {
    background-color: #fffbde
}

.green {
    background-color: #ecffde
}

.blue {
    background-color: #def3ff;
}

.purple {
    background-color: #f0deff;
}

/* Fonts */
.helvetica-neue {
    font-family: "Helvetica Neue";
}

.helvetica-neue {
    font-family: "Arial";
}

.verdana {
    font-family: "Verdana";
}

.georgia {
    font-family: "Georgia";
}

.didot {
    font-family: "Didot";
}

.courier-new {
    font-family: "Courier New";
}

.bradley-hand {
    font-family: "Bradley hand";
}

/* font sizes */

.medium {
    font-size: 100%;
}

.large {
    font-size: 120%;
}

.button {
    display: inline-block;
    line-height: 195px;
    width: 30%;
    height: 250px;
    border: none;
    background-color: #4346554f;
    padding: 14px 28px;
    font-size: 18px;
    font-family: Courier, monospace;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    transition-duration: 0.4s;
  }

.button:hover {
    background-color: #4CAF50;
    color: white;
  }

