/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* colors */
.yellow {
    background-color: #fcf5c7
}

.blue {
    background-color: #edf2fb;
}


/* Fonts */
.helvetica-neue {
    font-family: "Helvetica Neue";
}

.helvetica-neue {
    font-family: "Arial";
}

.verdana {
    font-family: "Verdana";
}

.georgia {
    font-family: "Georgia";
}

.didot {
    font-family: "Didot";
}

.courier-new {
    font-family: "Courier New";
}

.bradley-hand {
    font-family: "Bradley hand";
}

/* font sizes */

.medium {
    font-size: 100%;
}

.large {
    font-size: 120%;
}

.button {
    display: inline-block;
    width: 30%;
    height: 250px;
    border: none;
    background-color: #8bc7e8;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    transition-duration: 0.4s;
  }

.button:hover {
    background-color: #4CAF50;
    color: white;
  }
